@import "./fonts.css";
@import "./content.css";
@import "./scrollbar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-main-width: 800px;
}

.component-border-bottom {
    border-bottom: 1px solid #e1e1e1;
}

.main {
    min-width: var(--max-main-width);
    max-width: var(--max-main-width);
}

.aside-left {
    min-width: 350px;
    max-width: 350px;
}

.aside-right {
    min-width: 350px;
    max-width: 350px;
}

@media (max-width: calc(1500px - 1px)) {
    .main {
        min-width: calc(100% - 350px);
    }
    .aside-left {
        display: none;
    }
}

@media (max-width: calc(1100px - 1px)) {
    .main {
        min-width: 100%;
    }
    .aside-right {
        display: none;
    }
}
