.mainContainer {
    left: 0;
    position: var(--desktop-main-position);
    width: var(--desktop-main-width);
    height: var(--desktop-main-height);
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
