.mainContainer {
    left: 0;
    position: var(--desktop-main-position);
    width: var(--desktop-main-width);
    height: var(--desktop-main-height);
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.scrollbar {
    max-height: auto;

    @media (min-width: calc(800px)) {
        max-height: 100vh;
    }
}
