.contentNav {
    background-color: #eee;
    border-radius: 7px;
    color: gray;
    padding: 20px 30px;
    font-size: 18px;
    line-height: 35px;
}

.contentNav li:not(:last-child) {
    margin-bottom: 10px;
}

.contentNav li {
    list-style: none;
    counter-increment: item;
    position: relative;
}

.contentNav li > *::before {
    content: counter(item) '. ';
}

.contentNav li > * {
    display: block;
}
